@{Layout = "/_Layout.cshtml";}
Hallo @Model.FirstName!

Deiner Buchung am @Model.PlannedDate wurde soeben ein Auto zugeordnet!

Dein Auto hat die Nummer @Model.CarId und steht an der Ladestation @Model.ChargingStationId.
Es steht hier: <a href="https://www.google.de/maps/place/@@@Model.ChargingStationLatitude,@Model.ChargingStationLongitude">@Model.ChargingStationLatitude,@Model.ChargingStationLongitude</a>.

Viel Spaß wünscht dir
dein eCruise-Team!
