@{Layout = "/_Layout.cshtml";}


Hallo @Model.FirstName!<br>
<br>
Deiner Buchung am @Model.PlannedDate wurde soeben ein Auto zugeordnet!<br>
<br>
Dein Auto hat die Nummer @Model.CarId das Kennzeichen @Model.LicensePlate und steht an der Ladestation @Model.ChargingStationId.<br>
Es steht hier: <a href="https://www.google.de/maps/place/@@@Model.ChargingStationLatitude,@Model.ChargingStationLongitude">@Model.ChargingStationLatitude,@Model.ChargingStationLongitude</a>.<br>
<br>
Viel Spaß wünscht dir<br>
dein eCruise-Team!