@{ Layout = "/_Layout.cshtml"; }
Hallo @Model.FirstName!<br>
<br>
Wie es aussieht, hast du deine Daten bei eCruise geändert.<br>
Damit du nochmal alles auf einen Blick hast, sind hier deine neuen Daten:<br>
<br>
<b>
    <span class="indent">@Model.FirstName @Model.LastName</span><br>
    <span class="indent">Tel. @Model.PhoneNumber</span><br>
    <span class="indent">@Model.Street @Model.HouseNumber @Model.AddressExtraLine</span><br>
    <span class="indent">@Model.ZipCode @Model.City, @Model.Country</span><br>
</b>
<br>
Liebe Grüße,<br>
Dein eCruise-Team